<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration form</title>
    <style>
        h2{margin-top:300px}
        form{margin-top:20px}
    </style>
</head>
<body style="background-color:black";>
<h2 style="color:white;"align="center">registration</h2>
<form align="center"  action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your name">
    <br> <br>
    <input type="text" name="first_name" placeholder="Enter your firstname">
    <br> <br>
    <input type="text" name="last_name" placeholder="Enter your lastname">
    <br> <br>
    <input type="email" name=email placeholder="enter your email address">
    <br> <br>
    <input type="password" name="password" placeholder="Enter your password">
    <br> <br>
    <input type="password" name="password1" placeholder="conform your password">
    <br> <br>
    <input  type="submit">
</form>
{% for msg in message %}
<h2>{{msg}}</h2>
{% endfor %}

</body>
</html>